# Ignore data files
intro-to-deep-learning/assignments/Assignment0/data/**
intro-to-deep-learning/assignments/Assignment0/env/**
**/data/**
**/env/**
**/raw-data/**
# Ignore file links
*.lnk

# Ignore other commits
*hyungjun*